# Copyrighted third-party reference material — never commit (see prompts/overview.md, Coding rules)
/third_party/
/references/datasheets/ece4760.pdf

# Build artifacts
/bin/
*.bin
*.uf2
/target/firmware/build/
/target/firmware/build-*/

# IDE / editor
.idea/
.vscode/
/examples/*/build/
.DS_Store
/dmxgen

# Temporary area
/temp
